#audio-player {
    transition: opacity 0.5s ease; /* Transición de opacidad durante 0.5 segundos */
    opacity: 0; /* Comienza con opacidad 0 para que esté oculto */
}

    #audio-player.show {
        opacity: 1; /* Cuando se muestra, aumenta la opacidad a 1 */
    }

span {
    user-select: none;
}