#audio-player {
    transition: opacity 0.5s ease; /* Transici�n de opacidad durante 0.5 segundos */
    opacity: 0; /* Comienza con opacidad 0 para que est� oculto */
}

    #audio-player.show {
        opacity: 1; /* Cuando se muestra, aumenta la opacidad a 1 */
    }

span {
    user-select: none;
}

#mensaje {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5b5b7; /* Color de fondo más oscuro */
    color: #5e0b0d; /* Color de texto más oscuro */
    padding: 10px 20px;
    border: 1px solid #f08080;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}
#mensaje p {
    color: inherit;
    margin-bottom: inherit;
    font-size: inherit;
    font-family: inherit;
}
#mensaje button {
    background-color: #218838;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}



.oculto {
    opacity: 0; /* Establece la opacidad a 0 para ocultar el div */
}

/* Clase para bloquear el desplazamiento */
.body-fixed {
    overflow: hidden;
}

.remove-scrolling {
    height: 100%;
    overflow: hidden;
}

.disabled-link {
    pointer-events: none; /* Deshabilita los eventos de puntero */
    opacity: 0.6; /* Cambia la opacidad para indicar que est� deshabilitado (opcional) */
    cursor: not-allowed; /* Cambia el cursor para indicar que est� deshabilitado (opcional) */
}
